/* Navbar */

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-brand {float:none;}

/* Intro */

.intro-paragraph {
  width: 350px;
  margin-top: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}